{% extends 'base.html' %}
{% load static %}
{% block title %} password Reset{% endblock %}

{% block content %}
<style>
    body{
        overflow:hidden;
    }
    section{
        display:flex;
        justify-content:center;
    }
    section div{
        width:400px;
        margin:20px;
        padding:30px;
        border:1px solid black;
        border-radius:10px;
    }
    .submitForm {
        padding: 10px 20px;
        background-color:#63a8bd;
        color: #000;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left:100px;
    }
    form label{
        font-size:20px;
    }
    form input{
        width:300px;
        height:30px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight:300;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.07);
        color:#000;
    }
</style>
<section>
    <div>
        <h2 style='display:flex;justify-content:center;'>Enter new password</h2>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method='post'>
            {% csrf_token %}
            {{form.as_p}}
            <button style="display: flex;justify-content:center;"class='submitForm' type=submit>change my password</button> 
        </form>
    </div>
</section>
{% endblock %}